.idea
.DS_Store
dist
output
pmail.db
server/plugins
*_KEY
AURORA_SECRET
pmail
*.exe
.vscode
release
server/config/config.json
server/config/dkim/*.priv
server/config/ssl/*.key
server/config/pmail.db
server/config/pmail_temp.db
